
.contenedor_hello{
    margin: 56px 16px 0 16px;
    display: flex;
    flex-direction: column;
    
}

.hellomessage{
    color: var(--titulos-color);
    font-family: 0.5rem;
}

.firstTittle{
margin: 16px 0 8px 0;
color: var(--titulos-color);

}

.contenedor_hello p{
    margin: 8px 0;
    letter-spacing: 1px;
}