
.contenedor_popUp {
    display: flex;
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(var(--secondary-color-rgb), 0.5);
    z-index: 3;
    align-items: center;
    justify-content: center;
    transform: rotate(1);
 
    
}

.popUps {
    display: flex;
    text-align: center;
    color: black;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--quaternary-color);
    box-shadow: 2px 2px 2px var(--tertiary-color);
    border-radius: 5px;
    width: 95%;
    max-width: 540px;
    padding: 16px; 
}


.btn_popup {

    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px;
    cursor: pointer;
    margin: 1px;
    width: 100%;
    font-weight: 700;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;

}

.popups_close {
    margin: 0 0 16px 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.popups_close a {
    padding: 4px;
    width: 44px;
    font-size: 200%;
}

.popups_message h2 {
    margin: 16px 0;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popups_message p {
    margin: 16px 16px;
}

.popcard {
    
    width: 100%;
    border: 2px solid rgba(var(--secondary-color-rgb), 0.5);
    margin: 0 0 8px 0;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    color: var(--titulos-color)

}

.popcard_btns{
    display: flex;
    width: 45%;
    justify-content: space-evenly;
    font-size: 2rem;
    
}

.popups_btn{
    margin: 32px 0;
    width: 100%;
    justify-self: center;

}

.popcard_btns a svg{
    color: var(--secondary-color);
}

.popcard_btns a{
    width: 44px;
}

.popcard_info{
    text-align: start;
    width: 55%;
    margin: 4px;
}

.btn_desactivado{
    color: rgba(137, 201, 184, 0.5);
}

.popcard_btns span{
    width: 44px;
}

.btn_popup_span{
    background-color: rgba(137, 201, 184, 0.5);;
    color: var(--primary-color);
    padding: 10px;
    cursor: pointer;
    margin: 1px;
    width: 100%;
    font-weight: 700;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
}