.contenedor_contacto{
    margin: 32px 16px ; 
    color: var(--titulos-color);
    max-width: 524px;
}

.contenedor_inconos_contacto{
    width: 100%;
    display: flex;
    margin: 64px 0;
    justify-content: space-evenly;
}


.contenedor_inconos_contacto a svg{

    color: var(--quaternary-color);
    font-size: 3.5rem;
    box-shadow: 2px 2px 10px var(--secondary-color)
 }

 .contenedor_inconos_contacto a{
  text-decoration: none;
  background-color: var(--primary-color)
 }

 .PopUp_btn{
    display: flex;
    justify-content: center;
    text-decoration:underline
 }