.contenedor_proyectos {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 3px solid var(--secondary-color);
    margin: 16px 0;
    padding: 16px 8px;
    color: var(--tertiary-color);
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px var(--secondary-color);
    justify-content: space-around;
}

.contenedor_proyectos h3 {
    color: var(--titulos-color);
    margin: 0;
}

.contenedor_proyectos p {
    margin: 8px 0 0 0;
}

.iconos {
    display: flex;
    margin: 8px 0;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;

}

.iconos img {
    position: relative;
    width: 5%;
    width: 24px;
    margin: 8px 2px;

}

@media(max-width: 380px) {
    .contenedor_proyectos {
        height: 30%;
    }

    .iconos img {
        width: 7%;
    }
}