.contenedor_proyects{
    color: var(--titulos-color);
    margin: 64px 16px ;
}

.card_proyectos_contenedor{
    display: flex;
    flex-direction: column-reverse;
}


.card_proyectos_contenedor a{
    text-decoration: none;
}

@media(min-width: 768px){

    .card_proyectos_contenedor{
        
        display: grid;
        grid-template-columns: 49% 49%;
        gap: 16px;
        
    }



}